/* --- general styles --- */

* {
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	/* Sets up the Base 10 stuff 100%/1.6 */
	height: 100%;
}

body {
	background-color: $bgBody;
	height: 100%;
	width: 100%;
	color: $mainTextColor;
	font-family: 'ProximaNova-Regular', $font-stack-helvetica;
	@include font-size(1.4);
//	@include line-height(3.0);
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

h1,
.h1 {
	@include font-size(3.0);
	letter-spacing: 0.2em;
//	@include line-height(2.2);
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

p {
	@include font-size(1.6);
	@include line-height(2.4);
	letter-spacing: 0.1em;
	margin: 26px 0;
}

.color_black {
	color: $mainTextColor;
}
.color_brown {
	color: $brown;
}


/* --- end of general styles --- */

.wrap {
	max-width: 1220px;
	padding: 0 20px;
	margin: 0 auto;
}

.body_index	{
	position: relative;
	overflow: hidden;
	&:after,
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url('../img/png/pattern.png'), #737373;
		opacity: 0.1;
		z-index: -1;
	}
	&:before {
		background: url('../img/png/white.png') repeat-x;
		opacity: 1;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		transform: scale(1);
	  transition: transform 3s ease-out;
		width: 100%;
		z-index: -2;
	}
}

.body_index.loaded > img {
	transform: scale(1.1);
}




/* --- header --- */

header {
	@include font-size(0);
}

.lang,
.lang_media {
	text-align: right;
	padding: 12px 0 0;
	a{
		text-transform: uppercase;
		color: $black;
		@include font-size(1.4);
		display: inline-block;
		overflow: hidden;
		span {
			position: relative;
			display: inline-block;
			transform: translateY(0);
			transition: transform 0.3s ease;
			&:after {
				content: attr(data-hover);
				position: absolute;
    		top: 100%;
				left: 0;
				font-family: 'ProximaNova-Bold', $font-stack-helvetica;
    		transform: translate3d(0,0,0);
			}
		}
		&:not(.active):hover span {
			transform: translateY(-100%);
		}
		&.active{
			font-family: 'ProximaNova-Bold', $font-stack-helvetica;
			color: $brown;
		}
		&.en {
			padding-left: 25px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				display: inline-block;
				width: 1px;
				height: 10px;
				background-color: $black;
				top: 3px;
				left: 13px;
			}
		}
		
	}
}

.logo_media,
.nav_button_close,
.lang_media{
	display: none;
}

.main_menu-left,
.main_menu-right,
.main_menu-left li,
.main_menu-right li,
.logo{
	display: inline-block;
	vertical-align: middle;
}

.main_menu-left,
.main_menu-right{
	width: 40%;
}

.logo{
	width: 20%;
	text-align: center;
}

.main_menu-left li a,
.main_menu-right li a{
	color: $black;
	@include font-size(1.8);
	letter-spacing: 0.2em;
	display: inline-block;
	overflow: hidden;
	span {
		position: relative;
		display: inline-block;
		transform: translateY(0);
		transition: transform 0.3s ease;
		&:after {
			content: attr(data-hover);
			position: absolute;
    	top: 100%;
			left: 0;
			font-family: 'ProximaNova-Bold', $font-stack-helvetica;
    	transform: translate3d(0,0,0);
		}
	}
	&:hover span {
		transform: translateY(-108%);
	}	
}

.main_menu-left li {
//	margin-right: 33%;
	width: 50%;
}

.main_menu-right {
	text-align: right;
}

.main_menu-right li {
	text-align: right;
//	margin-left: 19%;
	width: 50%;
	@include font-size(0);
}

.nav_button {
	display: none;
}

/* --- end of header --- */

/* --- footer nav --- */

.footer_nav {
	@include font-size(0);
//  filter: grayscale(100%);
	background-color: $white;
	padding: 60px 0;	
	.logo {
		svg {
			width: 220px;
		}
	}
	.main_menu-left,
	.main_menu-right {
		opacity: .5;
	}
}

/* --- and of footer nav --- */

/* --- breadcrumbs --- */

.breadcrumbs {
//	text-align: center;
	margin: -24px 0 68px;
	li 	{
		display: inline-block;
		color: $brown;
		letter-spacing: 0.2em;
		padding: 0 22px 0 0;
		@include font-size(1.4);
		a {
			color: $mainTextColor;
			transition: color 0.25s ease; 
			&:hover {
				color: $brown;
			}
		}
		&.last {
			color: $brown;
		}
	}
}

/* --- and of breadcrumbs --- */

/* --- pills --- */

.pills {
	@include font-size(0);
	margin: 0 -13px;
	li {
		display: inline-block;
		margin: 0 13px 24px;
		a {
			display: inherit;
			@include font-size(1.5);
			@include line-height(3.4);
			letter-spacing: 0.1em;
			color: $brown;
			border: 1px solid $brown;
			border-radius: 18px;
			padding: 0 22px;
			background-color: transparent;
			transition: color 0.25s ease, background-color 0.25s ease;
			&:hover {
				color: $white;
				background-color: $brown;
			}
		}
	}
}

.pills.tabSet {
//	height: 60px;
	margin: 0;
}

/* --- and of pills --- */

/* --- pagination --- */

.pagination_news {
	padding: 0 0 26px 9.3%;
	margin-top: -10px;
}

.pagination_catalog {
	padding: 0 16.95%;
}
 
.pagination.invisible_desc {
	display: none;
}

.pagination {
//	padding: 10px 0 26px 9.3%; 
	padding: 20px 0 26px; 
	li {
		display: inline-block;
		width: 5.8%;
		a {
			@include font-size(1.6);
			color: $mainTextColor;
			padding: 5px;
			&.active {
				color: $brown;
			}
			&.prev:before,
			&.next:after{
				content: '';
				background-image: url('../img/svg/arrow.svg');
				display: inline-block;
				width: 21px;
				height: 5px;
				margin: 2px 10px 2px 0;
			}
			&.next:after {
				transform: rotate(180deg);
				margin: 2px 0 2px 10px;
			}
		}
		&.nav {
			width: 21%;
			a {
				padding: 5px 0;
			}
		}
		&.nav.next {
			text-align: right;
		}
	}
}

/* --- and of pagination --- */

/* --- main content --- */

h1.title {
	color: $white;
	text-align: center;
//	padding-top: 24%;
	padding: 20% 0 18px;
}

.main_links {
	text-align: center;
	li {
		display: inline-block;
		a {
			color: $white;
			@include font-size(1.8);
			letter-spacing: 0.2em;
			border-bottom: 1px solid transparent;
			position: relative;
//			transition: border-bottom-color 0.5s ease;
			&:after {
				content: '';
    		position: absolute;
    		bottom: -6px;
    		left: 0;
    		width: 100%;
    		height: 2px;
				background: $white;
    		transition-delay: 0.4s;
    		transform: scale3d(0, 1, 1);
				transform-origin: center left;
    		transition: transform 0.4s ease;
			}
			&:hover:after {
//				border-bottom-color: $white;
				transform: scale3d(1, 1, 1);
    		transition-delay: 0s;
			}
			
		}
		&.delimiter {
			width: 1px;
			height: 12px;
			background-color: $white;
			margin: 0 15px;
		}
	}
}

/* --- end of main content --- */


/* --- about page --- */

.inner_content{
	padding-top: 73px;
//	min-height: calc(100% - 320px);
}

h2.title {
	@include font-size(3.0);
	letter-spacing: 0.2em;
	color: $brown;
	font-weight: normal;
	margin: 0 0 33px 0;
	text-transform: uppercase;
}

.about_main_content {
	width: 72.881%; /*860px*/	
	.news_item {
		margin-bottom: 42px;
		p {
			color: $mainTextColor;
		}
		a .next_btn,
		a	.subtitle_article {
			transition: color 0.25s ease;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.img_block {
			position: relative;
			.more {
			@include font-size(1.6);
			position: absolute;
			letter-spacing: .2em;
			color: #fff;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			opacity: 0;
			z-index: 1;
			transition: opacity .25s ease;
			}
		}
		.img_block:before,
		.img_block:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background: #737373;
			opacity: 0;
			transition: opacity 0.25s ease;
		}
		.img_block:before {
			background: url(../img/png/pattern.png);
			z-index: 1;
		}
		a:hover {
			.next_btn,
			.subtitle_article{
				color: #b07842;
			}
			.img_block {
				.more {
					opacity: 1;
				}
				&:after {
					opacity: .5;
				}
				&:before {
					opacity: .2;
				}
			}
		}
	}
}

.img_block {
	margin: 20px 0;
	overflow: hidden;
	img {
		width: 100%;
	}
}

blockquote {
	background-color: $white;
	padding: 60px;
	color: $addTextColor;
	margin: 70px 0;
	@include font-size(0);
	.name {
		font-family: 'ProximaNova-Extrabld', $font-stack-helvetica;
		@include font-size(3.0);
		@include line-height(3.6);
		letter-spacing: 0.1em;
		display: inline-block;
		width: 31.4%; /*270px*/
		vertical-align: middle;
	}
	.text {
		display: inline-block;
		font-family: 'Roboto-Italic', $font-stack-helvetica;
		@include font-size(1.6);
		@include line-height(2.4);
		font-style: italic;
		letter-spacing: 0.2em;
		width: 68.6%;
		border-left: 1px solid #eee;
		padding-left: 57px;
		vertical-align: middle;
	}
}

.sidebar {
	float: right;
	width: 27.119%;
	padding-left: 8.475%; /*100px*/
}

.sidebar_nav {
	@include font-size(0);
	li {
		border-top: 1px solid #e1e1e1;
		a {
			padding: 40px 0;
			@include font-size(1.6);
			letter-spacing: 0.2em;
			color: $addTextColor;
			display: inline-block;
			transition: color 0.25s ease;
			&:hover{
				color: $brown;
			}
			&.active{
				color: $brown;
			}
		}
		&:last-child {
			border-bottom: 1px solid #e1e1e1;
		}
	}
}

.about_main_content {
	@include font-size(0);
	padding-bottom: 70px;
	.left-col {
		font-family: 'RobotoСondensed-Regular', $font-stack-helvetica;
		@include font-size(1.6);
		letter-spacing: 0.1em;
		color: $brown;
		display: inline-block;
		width: 9.3%;
		vertical-align: top;
		text-transform: uppercase;
	}
	.right-col {
		display: inline-block;
		width: 90.7%;
		vertical-align: top;
		.img_block {
			margin-top: 0;
		}
	}
}

.subtitle_article {
	@include font-size(3.0);
	@include line-height(3.6);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $brown;
	padding-top: 3px;
}

.return_btn {
	padding-bottom: 15px;
	a {
		@include font-size(1.6);
		@include line-height(2.4);
		letter-spacing: 0.1em;
		color: $brown;
		&:before {
			content: '';
			background-image: url('../img/png/return-arr.png'); 
			display: inline-block;
			width: 21px;
			height: 5px;
			margin: 3px 13px 3px 0;
		}
	}
}

.next_btn {
	@include font-size(1.6);
		@include line-height(2.4);
		letter-spacing: 0.1em;
		color: $brown;
		&:after {
			content: '';
			background-image: url('../img/png/return-arr.png'); 
			display: inline-block;
			width: 21px;
			height: 5px;
			margin: 3px 0 3px 13px;
			transform: rotate(180deg);
		}
}

/* --- and of about page --- */


/* --- card page --- */

.item_pane {
	background-color: $white;
}

.item_pane_card {
	padding: 20px 60px;
	margin: 21px 0;
	@include font-size(0);
}

h2.title.similar {
	margin: 74px 0 -24px;
}

.text_block_card {
	display: inline-block;
	vertical-align: top;
	width: 49.06%;
	padding: 42px 20px 40px 45px;
	.title {
		@include font-size(2.4);
		text-transform: uppercase;
		margin-top: 0;
	}
	.text {
		@include font-size(1.5);
		@include line-height(4.0);
		margin: 0;
	}
}

.image_block_card {
	display: inline-block;
	width: 50.94%;
	padding: 42px 0 40px 0;
	.thumbs {
		display: inline-block;
		width: 24.444%;
		overflow: hidden;
		margin: 0 1.112% 1.3% 0;
	}
	.main {
		display: inline-block;
		width: 74.444%;
		overflow: hidden;
		float: right;
	}
	.main,
	.thumbs {
		background:	url(../img/png/pattern.png), #737373;
	}
	.hover {
		&:before {
			content: '';
			background: url('../img/png/zoom.png') center no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			transition: opacity .25s ease;
		}
		&:hover:before{
			opacity: 1;
			z-index: 1;
		}
		&:hover img {
			opacity: 0.8;
		}
	}
	img {
		width: 100%;
		transition: opacity 0.25s ease;
	}
}


/* --- and of card page --- */

/* --- catalog page --- */

.catalog_content {
	margin: 0 -10px;
	@include font-size(0);
	padding-bottom: 50px;
}

.catalog_content_inner {
	@include font-size(0);
}

.catalog_item {
	display: inline-block;
	width: 50%;
	padding: 0 10px 20px 10px;
	position: relative;
	.catalog_item__img {
		position: relative;
		&:after,
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background: #737373;
			opacity: 0.5;
		}
		&:before {
			background:	url(../img/png/pattern.png);
			opacity: 0.2;
			z-index: 1;
		}
	}
	img {
		object-fit: cover;
		width: 100%;
		opacity: 0.9;
	}
	.catalog_item__title {
		position: absolute;
		padding: 60px;
		@include font-size(2.4);
		letter-spacing: 0.2em;
		color: $white;
		text-transform: uppercase;
		top: 0;
		left: 10px;
	}
}

.breadcrumbs.n-margin {
	margin-bottom: 16px;
}

.catalog_item_inner {
	margin: 24px 0;
	.hover{
		background: url('../img/png/pattern.png'), #737373;
		width: 38.98%;
		position: relative;
		display: inline-block;
		text-align: center;
		&:after {
			content: '';
			background: #737373;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			transition: opacity 0.25s ease;
		}
		&:hover:after {
			opacity: 0.5;
		}
		.more {
			@include font-size(1.6); 
			position: absolute;
			letter-spacing: 0.2em;
			color: $white;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			z-index: 1;
			transition: opacity 0.25s ease;
		}
		&:hover .catalog_item_inner__img {
			opacity: 0.8;
		}
		&:hover .more {
			opacity: 1;
		}
	}
}

.catalog_item_inner__img {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	transition: opacity 0.25s ease;
	img {
		object-fit: cover;
		width: 100%;
	}
}

.catalog_item_inner__img.catalog_item_inner__img-res {
	img {
		width: auto;
		max-width: 100%;
		height: 100%;
	}
}

.catalog_item_inner__text {
	display: inline-block;
//  overflow: hidden;
	vertical-align: middle;
	padding-left: 7%;
	padding-right: 5%;
	width: 61.02%;
}



.catalog_item_inner__title {
	@include font-size(2.4);
	letter-spacing: 0.2em;
	color: $brown;
	text-transform: uppercase;
}

.catalog_item_inner__subtitle {
	@include font-size(1.4);
	letter-spacing: 0.2em;
	color: $mainTextColor;
	padding-top: 7px;
}

.catalog_item_inner__p {
	@include font-size(1.6);
	@include line-height(2.4);
	letter-spacing: 0.1em;
	padding-top: 34px;
}

.catalog_col_3 {
	margin: 50px -11px 35px;
	@include font-size(0);
	.catalog_col_3__item {
		width: 33.333%;
		display: inline-block;
		padding: 11px;
	}
}

.cat_wrap {
	text-align: center;
	position: relative;
}

.img_wrap {
	background-color: $white;
	overflow: hidden;
	transition: opacity 0.25s ease;
	img {
		width: 100%;
	}
}

.hover{
		background: url('../img/png/pattern.png'), #737373;
		width: 100%;
		position: relative;
		display: inline-block;
		text-align: center;
		&:after {
			content: '';
			background: #737373;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			transition: opacity 0.25s ease;
		}
		&:hover:after {
			opacity: 0.5;
		}
	&:hover .p_text {
		opacity: 1;
	}
	&:hover .img_wrap {
		opacity: 0.8;
	}
}

.p_text {
	position: absolute;
	letter-spacing: 0.2em;
	color: $white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	width: 100%;
	z-index: 1;
	transition: opacity 0.25s ease;
	.more {
		@include font-size(1.4); 
		@include line-height(2.4); 
		margin: 0;
		text-transform: uppercase;
		color: $white;
	}
}

.catalog_col_5 {
	margin: 50px -11px 35px;
	@include font-size(0);
	.catalog_col_5__item {
		width: 20%;
		display: inline-block;
		padding: 11px;
	}
}

/* --- end of catalog pages --- */

/* --- contacts page --- */

#map {
	height: 470px;
	margin-bottom: 25px;
}

.wrap_contacts {
	@include font-size(0);
	margin: 0 -20px;
}

.contacts_col_2 {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	margin: 25px 0 65px;
	padding: 0 20px;
	.title {
		margin: 0 0 25px;
	}
	.text,
	a {
		@include font-size(1.6); 
		@include line-height(2.4); 
		letter-spacing: 0.1em;
		color: #111;
	}
	
}

form {
	.input {
		@include font-size(1.5);
		letter-spacing: 0.1em;
		color: $addTextColor;
		border: 1px solid transparent;
		border-radius: 6px;
		padding: 15px 24px;
		margin: 13px 0;
		width: 100%;
		transition: border-color 0.25s ease;
		&:hover,
		&:focus {
			border-color: $hover_btn;
		}
		&:invalid {
			border-color: red;
		}
	}
	textarea {
		height: 188px;
		resize: none;
	}
}

.submit_btn {
	@include font-size(1.5);
	@include line-height(4.8);
	height: 48px;
	letter-spacing: 0.1em;
	color: $white;
	border: none;
	border-radius: 6px;
	background-color: $brown;
	width: 166px;
	text-align: center;
	margin: 34px 0;
	cursor: pointer;
	transition: background-color 0.25s ease;
	&:hover {
		background-color: $hover_btn;
	}
	&:visited, 
	&:focus {
		background-color: $hover_done;
	}
}

::-webkit-input-placeholder {color:$addTextColor;}
:-ms-input-placeholder      {color:$addTextColor;}

/* --- end of contacts page --- */

/* --- fancybox custom style --- */

.fancybox-infobar__body{
	display: none;
}

.fancybox-button {
	background: #fff;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: 66px;
	height: 66px;
	position: fixed;
	top: 45%;
	z-index: 99999;
}

.fancybox-button:hover {
	background: #fff;
}

.fancybox-button--left:after, 
.fancybox-button--right:after {
	top: 30px;
}

.fancybox-button--left:after {
	left: 30px;
}

.fancybox-button--right:after {
	right: 30px;
}

.fancybox-button:after, 
.fancybox-button:before {
	color: #000;
}

.fancybox-controls {
	position: static;
}

.fancybox-button--left {
	left: 0;
}

.fancybox-button--right {
	right: 0;
}

.fancybox-slider, 
.fancybox-slider-wrap {
	background: rgba(115,115,115,0.6);
}


.fancybox-bg {
	background: url('../img/png/pattern.png'), #737373;
	opacity: 0.2!important;
}
